.container {
    border-radius: 35px;
    background-color: #D9D9D9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 370px; /* Установка максимальной ширины */
    height: 500px;
    margin: auto; /* Центрирование по горизонтали */
    margin-top: 50px;

    font-family: Inter, sans-serif;
}
.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px; /* Закругляем углы */
    border: 1px solid #ccc; /* Добавляем рамку */
    box-sizing: border-box; /* Учитываем размеры рамки в общей ширине */
}

.inputField {
    background-color: #333; /* Цвет фона */
    color: white; /* Цвет текста */
    border-radius: 20px; /* Радиус скругления углов */
    padding: 10px; /* Внутренний отступ */
    margin-bottom: 10px; /* Отступ снизу */
}

.inputField::placeholder {
    color: #ece2e2; /* Цвет плейсхолдера */
}


.button {
    width: 50%;
    padding: 10px 20px;
    background-color: #313131;
    color: #fff;
    border: none;
    border-radius: 20px; /* Закругляем углы */
    cursor: pointer;
    transition: background-color 0.3s;
}

.enter {
    margin-bottom: 0px; /* Поднимаем текст на 50px */
    font-size: 25px;
}

.button:hover {
    background-color: #555;
}

.picture{
    width: 100px; /* Устанавливаем ширину логотипа */
    height: 100px; /* Автоматически определяем высоту (сохраняя пропорции) */
}
