/* Card.module.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

.card {
    width: 15%;
    height: 350px;
    margin: 10px;
    padding: 20px;
    background-color: #888e97;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: 'Montserrat', sans-serif; /* Применяем шрифт Montserrat */
}

.card h2 {
    margin-bottom: 10px;
    font-weight: 300; /* Тонкий шрифт */
}

.card p {
    color: #f8f8f8;
    font-weight: 300; /* Тонкий шрифт */
}

.authorChip {
    display: inline-block;
    background-color: #4caf50; /* Зеленый цвет */
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 16px;
    margin-top: 10px;
}
