.container {
    position: relative;
    margin-top: 100px;
  }
  
  .createButton {
    position: absolute;
    margin-top: 100px;
    top: 10px;
    right: 10px;
  }
  
  .button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  /* index.module.css */
.tooltipIcon {
  cursor: pointer;
  margin-left: 5px;
  background-color: #ccc;
  border-radius: 50%;
  padding: 2px 5px;
  font-weight: bold;
}

.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}
