/* Card.module.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

.card {
    width: 50%;
    height: 40%;
    margin: 10px;
    padding: 20px;
    background-color: #888e97;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: 'Montserrat', sans-serif; /* Применяем шрифт Montserrat */
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.card h2 {
    margin-bottom: 10px;
    font-weight: 300; /* Тонкий шрифт */
}

.card p {
    color: #f8f8f8;
    font-weight: 300; /* Тонкий шрифт */
}

.card:hover {
    border-color: violet; /* Задаем цвет фиолетовой рамки при наведении */
  }

.authorChip {
    display: inline-block;
    background-color: #4caf50; /* Зеленый цвет */
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 16px;
    margin-top: 10px;
}

.participantsChips {
    display: flex; /* Располагаем чипсы в строку */
    flex-wrap: wrap; /* Разрешаем перенос строк, если чипсы не помещаются */
    margin-top: 10px; /* Отступ сверху */
  }
  
  .participantChip {
    background-color: #4caf50; /* Цвет чипса */
    color: white; /* Цвет текста */
    font-size: 12px; /* Размер шрифта */
    padding: 4px 8px; /* Внутренние отступы */
    border-radius: 16px; /* Скругленные углы */
    margin-right: 5px; /* Отступ между чипсами */
    margin-bottom: 5px; /* Отступ снизу */
  }
  
  .showMoreButton {
    background-color: transparent; /* Прозрачный фон */
  }