.primary {

    display: flex; /* Используем Flexbox для расположения элементов */
    align-items: center; /* Выравниваем элементы по вертикали */
    font-family: Inter, sans-serif;
    font-weight: bold; /* Делаем текст толще */
    color: white;
}


.text {
    font-family: Inter, sans-serif;
    font-weight: bold; /* Делаем текст толще */
    color: white;
    font-size: 20px;
    position: absolute; /* Позиционирование */

}

.primary h1 {
    margin-top: -100px; /* Уменьшаем отступ сверху только для текста */
    margin-left: 50px;
}



body {
    background-color: #393E46;
}


.yellow {
    color: #FFEF5C;
}
.blue {
    color: #505CCA;
}

.instructionBlock {
    border-radius: 10px;
    background-color: #393E46;
    padding-left: 20px;
    padding-top: 10px;
    width: 300px; /* Установка максимальной ширины */
    height: 400px;
    margin-top: 30px;
    margin-bottom: 120px;
    color: white;
    font-family: Inter, sans-serif;
    font-size: 10px;
}

.picture {
    width: 670px; /* Устанавливаем ширину логотипа */
    height: auto; /* Автоматически определяем высоту (сохраняя пропорции) */
    margin-right: auto;
}

.pictureRegistration {
    margin-left: 20%;
    width: 150px; /* Устанавливаем ширину логотипа */
    height: auto; /* Автоматически определяем высоту (сохраняя пропорции) */
    margin-right: auto;
}

.innerContainer {
    display: flex;
    bottom: 200px;
    margin-top: 40%;
    margin-right: 10%;
    margin-left: 10%;
    justify-content: space-between;
}



.roundedLink {
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: bold; /* Делаем текст толще */
    display: inline-block;
    padding: 20px 60px;
    background-color: #2A36A1;
    color: #fff;
    border-radius: 40px; /* Устанавливаем радиус скругления */
    text-decoration: none; /* Убираем подчеркивание ссылки */
    margin-bottom: 20px;
}


.linkWrapper {
    margin-top: -160px; /* Размещаем контейнер ссылки внизу блока */
    margin-left: 700px;
}


.roundedLink:hover {
    background-color: #0056b3; /* Изменяем цвет фона при наведении */
}



