.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Inter, sans-serif;
}

.mapContainer {
    display: flex;
    width: 100%;
    height: 35vh;
    margin-bottom: 1%;
    overflow: hidden;
    position: relative;
}

.map {
    flex-basis: 70%;
    height: 100%;
}

.infoBlock {
    flex-basis: 30%;
    padding: 20px;
    margin-left: 0.5%;
    background-color: #f4f4f4;
    color: black;
    overflow-y: auto;
}

.resizeHandle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    cursor: ns-resize;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.tableContainer {
    width: 100%;
    height: calc(65vh - 20px);
    overflow-y: auto;
}

.block {
    width: calc(100% - 20px * 2);
    padding: 20px;
    background-color: white;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tableWrapper {
    max-height: 300px; /* Установите желаемую высоту */
    overflow-y: auto;
}

.table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.table td div {
    width: 100%;
    /* max-height: 60px;
    overflow: auto; */
}

.table input, .table select, .table button {
    width: 100%;
    box-sizing: border-box;
}

/* .select {
    max-height: 60px;
    overflow: auto;

} */

.textdata {
    color: #8b8b8b;
    margin-bottom: 10px;
}

.inputField {
    width: 30%;
    margin-top: 8px;
    margin-left: 10px;
}

.addParticipantContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.addButton {
    margin-left: 10px;
    margin-top: 5px;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navigationButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.statContainer {
    width: 100%;
}

.customSelect {
    position: absolute;
    margin-top: 5.5%;
    width: 120px;
    margin-left: 450px;
    z-index: 1;
}

.tablebutton {
    margin-left: 30%;
}

.fullWidthContainer {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    max-height: calc(100vh - 1px);
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Inter, sans-serif;
    color: black;
    transition: bottom 0.3s ease;
}

body.scroll-bottom .fullWidthContainer {
    bottom: 0;
}

.fullWidthContent {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}

.chartContainer {
    flex: 0 0 48%;
    margin-bottom: 20px;
}
.errorMessage {
    color: red; /* Красный цвет текста */
    margin-top: 10px; /* Отступ сверху */
    margin-left: 10px;
    font-size: 14px; /* Размер шрифта */
    background-color: #f8d7da; /* Светло-красный фон */
    border: 1px solid #f5c6cb; /* Красная рамка */
    padding: 10px; /* Внутренние отступы */
    border-radius: 4px; /* Скругленные углы */
    max-width: 300px; /* Максимальная ширина блока */
    text-align: center; /* Выравнивание текста по центру */
}
