.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 33vh 1fr auto;
    height: 100vh;
    font-family: Inter, sans-serif;
}

.mapContainer {
    grid-column: 1 / 3;
    height: 100%; /* Максимизируем высоту карты внутри контейнера */
    max-height: calc(33vh - 20px); /* Ограничиваем высоту карты на треть высоты экрана с учетом отступов */
    margin-bottom: 10px; /* Добавляем отступ снизу */
    overflow: hidden; /* Обрезаем контент, если он выходит за пределы контейнера */
}

.statContainer {
    width: 100%;
}
.customSelect {
    position: absolute;
    margin-top: 5.5%;
    width: 120px;
    margin-left: 450px; /* Задаем отступ слева */
    z-index: 1;

}

.inputField {
    width: 30%; /* Ширина поля ввода */
    margin-top: 8px; /* Отступ сверху */
    margin-left: 10px;
}
.block {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #222831;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Inter, sans-serif;
    color: white;
}

.textdata {
    color: #B9B9B9;
    margin-left: 40%;
    margin-top: 2%;
    z-index: 1;
}

.datePicker {
    top: 2%; /* Располагаем по верхнему краю */
    z-index: 1;
    padding-left: 10px;
}

.tableContainer {
    overflow-y: auto;
    height: 100%;
    margin-left: 10%;
    width: 100%;
}

.table {
    width: 90%; /* Ширина таблицы на всю доступную ширину */
    z-index: 1;
}
.buttonsContainer {
    display: flex;
    gap: 10px;
    margin-top: auto;
}

.tablebutton {
    margin-left: 30%;
}
.fullWidthContainer {
    position: absolute;
    bottom: -100%; /* Скрываем контейнер за пределами видимой области */
    left: 0;
    width: 100%;
    max-height: calc(100vh - 1px); /* Максимальная высота контейнера, чтобы оставить место для прокрутки */
    overflow-y: auto; /* Разрешаем вертикальную прокрутку, если контент выходит за пределы контейнера */
    background-color: #ffffff;
    border-radius: 10px; /* Скругление углов */
    padding: 20px; /* Отступы внутри контейнера */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Inter, sans-serif;
    color: black;
    transition: bottom 0.3s ease; /* Добавляем плавный переход */
}

/* Показываем контейнер, когда страница прокручена до нижнего края */
body.scroll-bottom .fullWidthContainer {
    bottom: 0;
}

.fullWidthContent {
    display: flex; /* Используем flex-контейнер */
    justify-content: space-between; /* Распределяем пространство между элементами */
    padding-left: 50px;
}

.chartContainer {
    flex: 0 0 48%; /* Задаем ширину 48% для каждой диаграммы, чтобы они вместились в одну линию */
    margin-bottom: 20px; /* Добавляем отступ между диаграммами */
}

