.primary {
    font-family: Inter, sans-serif;
    display: flex; /* Используем Flexbox для расположения элементов */
    align-items: center; /* Выравниваем элементы по вертикали */
    background-color: #1E1E1E;
    height: 80px;
}

.primary nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 350px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownContent a, .dropdownContent button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover, .dropdownContent button:hover {background-color: #f1f1f1}

.dropdown:hover .dropdownContent {
    display: block;
}


.primary nav ul a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: white; /* Цвет текста ссылок */
    padding: 10px 20px; /* Внутренние отступы ссылок */
    margin-right: 50px; /* Внешние отступы между ссылками */
    border-radius: 5px; /* Закругляем углы */
    font-size: 20px;

}

.primary nav ul a:hover {
    background-color: #555; /* Изменяем цвет фона при наведении на ссылку */
}
.logoSingIn {
    width: 42px;
    height: auto; /* Автоматически определяем высоту (сохраняя пропорции) */
    margin-right: auto;
    margin-left: 67px   ;
    filter: invert(1);
}
.logo {
    width: 100px; /* Устанавливаем ширину логотипа */
    height: auto; /* Автоматически определяем высоту (сохраняя пропорции) */
    margin-right: auto;
    margin-left: 67px   ;
    filter: invert(1);
}


