.wrapper div .ymaps-2-1-79-map {
    width: 100% !important;
    height: 100% !important;
}
.wrapper {
    /*margin-top: 20px;*/
    /*margin-left: 10px;*/
    border-radius: 10px;
    width: 100%;
    height: calc( 100vh - 104px);
}
.wrapper div {
    width: 100% !important;
    height: 100% !important;
}