.wrapper div .ymaps-2-1-79-map {
    width: 100% !important;
    height: 100% !important;
}
.wrapper {
    width: 100%;
    height: calc(100vh - 104px);
}
.wrapper div {
    width: 100% !important;
    height: 100% !important;
}